<template>
  <div>
    <section class="work">
      <figure class="white" v-for="ressource in ressources" :key="ressource.id">
         <router-link :to="{name: 'ressources.show', params: {id: ressource.id}}">
             <img :src="'img/' + ressource.image" alt="" />
           <dl>
             <dt>{{ ressource.nom }}</dt>
             <dd>{{ ressource.description }}</dd>
           </dl>
         </router-link>

        <div id="wrapper-part-info">
          <div class="part-info-image"><img src="img/icon-psd.svg" alt="" width="28" height="28"/></div>
          <div id="part-info">Wordpress theme</div>
        </div>
      </figure>
    </section>

    <div id="wrapper-oldnew">
      <div id="app">
        <router-view></router-view>
      </div>
    	<div class="oldnew">
        <div class="wrapper-oldnew-prev">
          <div id="oldnew-prev"></div>
        </div>
        <div class="wrapper-oldnew-next">
          <div id="oldnew-next"></div>
    		</div>
      </div>
  	</div>

    <div id="wrapper-thank">
        <div class="thank">
            <div class="thank-text">pl<span style="letter-spacing:-5px;">a</span>tz</div>
        </div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      ressources () {
        return this.$store.getters.getRessources;
      }
    }
  }
</script>
